# Exercise 1.

Create a method `bark` for class `Dog`, which prints out `Woof!`. The amount of 'woofs' depends on the dog size.
Example:

Object of class `Dog` has a parameter size set to 5. <br>
the outcome of `woof` method would be: <br>
Woof! Woof! Woof! Woof! Woof!

In [2]:
class Dog:
    def __init__(self, size):
        self.size = size

In [3]:
dog = Dog(5)

# Exercise 2.

Create a class `Puppy` which inherits from the `Dog` class. It should inherit the Constructor class and overload a `woof` method.

# Exercise 3.

Write a query that prints everything from the Invoices table. If you can, change the type to pandas DataFrame.

In [4]:
import sqlite3 as lite
import pandas as pd

con = lite.connect('chinook.db')
cur = con.cursor()


# Write your query
# sql = ...


cur.execute(sql)
cur.fetchall()

# Exercise 4.

Write a query which returns maximum value from `Total` column.

In [5]:
import sqlite3 as lite
import pandas as pd

con = lite.connect('chinook.db')
cur = con.cursor()


# Write your query
# sql = ...

cur.execute(sql)
cur.fetchall()