# Intermediate exercises

## OOP
Moving on, let's make this more intuitive for the user. Let's make it so that we can do `Square(a=2) < Square(a=3)`. Unhide the cell below for a hint.

### Input

In [13]:
class Square:
    def __init__(self, a):
        self.a = a
        
    def is_smaller(self, other):
        return self.a < other.a

    
square_a = Square(a=2)
square_b = Square(a=4)

### Output

In [14]:
square_a < square_b

True

### Solution

Unhide to see the hint:

<div class="alert alert-block alert-info">Overload the `<` operator.</div>

## Data structures

### Input

In [27]:
import pandas as pd

df = pd.DataFrame.from_dict({"clicks": [1, 2], "person": [{"first_name": "Michal", "last_name": "Zawadzki"}, {"first_name": "Mateusz", "last_name": "Pazdzior"}]})
df.head()

   clicks                                             person
0       1  {'first_name': 'Michal', 'last_name': 'Zawadzki'}
1       2  {'first_name': 'Mateusz', 'last_name': 'Pazdzi...

### Output

In [32]:
df2

   clicks first_name last_name
0       1     Michal  Zawadzki
1       2    Mateusz  Pazdzior

### Solution

Unhide to see the hint:

<div class="alert alert-block alert-info">Use `pd.json_normalize()`.</div>

## Optimization

Run below code, measure the time, and then write an optimized version that executes at least 20% faster.

Below you can see the execution time on my machine for reference.

In [1]:
%%time


import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.choice(['foo','bar','baz'], size=(0,3)))
for i in range(30):
    df_next = pd.DataFrame(np.random.choice(['foo','bar','baz'], size=(1000000,3)))
    df = df.append(df_next)

print(df.shape)
df.head()

(30000000, 3)
CPU times: user 56.3 s, sys: 13.9 s, total: 1min 10s
Wall time: 1min 7s

     0    1    2
0  foo  baz  foo
1  baz  foo  bar
2  baz  bar  foo
3  bar  bar  bar
4  baz  bar  bar